body {
  background-color: #de4256;
  background-image: linear-gradient(315deg, #de4256 0%, #b78e51 74%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-image: linear-gradient(315deg, #de4256 0%, #b78e51 74%);
  }
  50% {
    background-image: linear-gradient(315deg, #b78e51 0%, #de4256 74%);
  }
  100% {
    background-image: linear-gradient(315deg, #de4256 0%, #b78e51 74%);
  }
}



.App {
  font-family: Roboto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

b {
  color: #d02e69;
}

.material-symbols-outlined {
  font-size: 18px;
  margin-right: 6px;
  cursor: pointer;
}

/* Footer Styling */
.App .footer {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background:#db4462;
  bottom: 0;
  width: 100%;
  color: #fff;
  z-index: 0;
}

.App .footer-author {
  margin-top: 10px;
}

/* Navbar Styling */
.App .navbar {
  background: #db4462;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(235, 235, 238, 0.1) 0px 0px 16px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.App .navbar .options,
.name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  font-size: large;
  font-weight: bolder;
}

.App .name h2 {
  font-size: 30px;
  margin: 0;
  color: #fff;
  font-weight: bold;
}

.App .navbar .navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Search Bar Styling */
.App .search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.App .search-bar,
.recent-jobs {
  text-align: center;
}

.App .search-bar .custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.App .search-bar .custom-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Job Item Styling */
.App .job-item {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(240, 237, 237, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
  width: 70%;
}

.App .job-item .title-apply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.App .job-item .title-type {
  display: flex;
  justify-content: space-between;
}

.App .job-item .job-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}

.App .job-link:hover {
  color: #f26e11;
}

.App .job-item .job-type {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.App .job-item .company-name,
.location-text {
  display: flex;
  align-items: center;
}

.App .add-job form {
  width: 70%;
  margin: 20px auto;
}

/* About Us Page Styling */
.App .about-contact {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

.App .about h1 {
  font-size: 32px;
  margin: 10px 0;
}

.App .about p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.App .contact h3 {
  font-size: 24px;
  margin: 10px 0;
}

.App .contact p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.App .job-details {
  width: 70%;
  margin: 20px auto;
  padding: 30px;
}

/* Job Details Styling */

.App .job-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}

.App .job-details h1 {
  font-size: 32px;
  margin: 10px 0;
}

.App .job-details h4 {
  font-size: 24px;
  margin: 10px 0;
}

.App .job-details p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.App .job-details .btn-primary {
  background-color: #f26e11;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
}

.App .job-details .btn-primary:hover {
  background-color: #0056b3;
}

.App .job-details .description {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.App .job-details h4 + br {
  display: none;
}

.App .user-profile {
  width: 70%;
  margin: 20px auto;
}
